form{
    font-family:  sans-serif;
}
input[type="text"],input[type="tel"],input[type="email"],input[type="date"],input[type="number"],input[type="password"],input[type="time"],input[type="url"],input[type="reset"],input[type="submit"] {
    width: 500px;
    height: 30px;
    font-size: 15px;
}